@charset "UTF-8";


#itens {
    display: none;
}

.burguer-ativo {
        background-color: #2C3E50;
        width: 100%;
        padding: 10px;
    }

span {
    padding: 10px;
}

@media screen and (min-width: 768px) {
      #burguer {
        display: none;
      }

      nav {
        display: block !important;
      }

      nav ul {
        display: flex;
        gap: 20px;
      }

      nav ul li {
        display: inline;
        padding: 0;
      }

      #itens {
        display: block !important;
      }
    }